.hover--blue:hover {
  background-color: $kronoku-blue;
}

.hover--purple:hover {
  background-color: $kronoku-purple;
}

.hover--green:hover {
  background-color: $kronoku-green;
}

.hover--red:hover {
  background-color: $kronoku-red;
}

.hover--yellow:hover {
  background-color: $kronoku-yellow;
}