.recipients__panel {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 275px;
  height: 325px;
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  box-shadow:  #d8e3e9 0 0 10px;

  .message-input {
    height: 100px;
    width: 85%;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 3px;
    resize: none;
    padding: 5px;
    white-space: pre-wrap;
  }

  .recipients__phone-input {
    width: 85%;
    margin: 0;
  }

}

.recipients__label {
  width: 85%;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 5px;
}

.recipients-form__submit {
  width: 30px;
  color: white;
  background-color: #282826;
  border: 1px solid black;
  border-radius: 3px;
  margin-left: 5px;  
  cursor: pointer;
  font-size: 22px;
}


.recipients-form__container {
  width: 85%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.quick-add-contact__inputs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: auto;  
}

