@import '../breakpoints';

.reminders-summary--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 500px;
  height: 400px;
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  box-shadow:  #d8e3e9 0 0 10px;

  @include breakpoint(small){
    width: 90%;
  }

  .reminders-summary--title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 50px;
    font-size: 22px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
  }

  .container {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 90%;
    height: 95%;

    span {
      flex-grow: .2;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      border-radius: 3px;
      word-break: break-word;
      white-space: pre-wrap;
      transition: 0.5s;
    }

  }

}